[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/hlslpp"]
	path = vendor/hlslpp
	url = https://github.com/redorav/hlslpp
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
